.commit-title {
    font-size: 14px !important;
}

.commit-body {
    font-size: 12px !important;
    margin-right: 5px;
    width: 100%;
}

.commit-body img {
    margin-right: 5px;
}

.commit-list-container {
    max-height: 600px;
    overflow-y: scroll;
}